app/src/addons/swiftfin/resources/xsd/XmlSignature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--xs:schema xmlns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"-->
  <xs:element name="Signature">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SignedInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CanonicalizationMethod">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:anyURI" name="Algorithm"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SignatureMethod">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:anyURI" name="Algorithm"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Transforms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Transform">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="XPath"/>
                              </xs:sequence>
                              <xs:attribute type="xs:anyURI" name="Algorithm"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DigestMethod">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="Algorithm"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="DigestValue"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="URI"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="SignatureValue"/>
        <xs:element name="KeyInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="X509Data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="X509SubjectName"/>
                    <xs:element type="xs:string" name="X509Certificate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="KeyName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

