app/src/addons/ISO20022/xsd/auth.026.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Georgy Chirkov (Unicredit Russia) -->
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 05 09:27:24, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is the schema of a candidate ISO 20022 message, that is, 
 it has not yet been approved by the Payments SEG, 
 but no further changes are expected until approval.  
   
This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.026.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.026.001.01" elementFormDefault="qualified">
<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="AddressType2Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PBOX">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOME">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BIZZ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MLTO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DLVY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BinaryFile1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BinaryFile1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Computer file stored in a binary format.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MIMETp" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MIMEType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code specifying the Multipurpose Internet Mail Extensions (MIME) type for this attached binary file. Reference IANA (Internet Assigned Numbers Authority) - MIME Media Types (www.iana.org/assignments/media-types).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NcodgTp" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EncodingType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the encoding algorithm used for this attached binary file. Reference IANA (Internet Assigned Numbers Authority) - Transfer Encodings (www.iana.org/assignments/transfer-encodings).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharSet" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CharacterSet</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies a code signifying the particular character set used for this attached binary file. Reference IANA (Internet Assigned Numbers Authority) - Character Sets (www.iana.org/assignments/character-sets).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InclBinryObjct" type="Max100KBinary" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">IncludedBinaryObject</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Binary object included in this attached binary file.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BranchIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies a specific branch of a financial institution.

Usage: This component should be used in case the identification information in the financial institution component does not provide identification up to branch level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchData2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a branch of a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prtry" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MmbId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ContactDetails2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NamePrefix</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the terms used to formally address a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MobileNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a mobile phone number, as defined by telecom services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Contact details in an other form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyControlHeader3">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CurrencyControlHeader3</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Characteristics shared by all individual items included in the currency control message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NbOfItms" type="Max15NumericText">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NumberOfItems</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number of individual items contained in the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitgPty" type="Party28Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Party that initiates the instruction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ForwardingAgent</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Agent which forwards the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyControlRequestOrLetterV01">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CurrencyControlRequestOrLetterV01</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">The CurrencyControlRequestOrLetter message is sent by the reporting party (respectively the registration agent) to the registration agent (respectively the reporting party) to send a currency control related letter or to request for supporting documents.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrpHdr" type="CurrencyControlHeader3">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Characteristics shared by all individual items included in the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqOrLttr" type="SupportingDocumentRequestOrLetter1" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestOrLetter</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Supporting document request or letter details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">DateAndPlaceOfBirth</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Date and place of birth of a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BirthDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date on which a person is born.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ProvinceOfBirth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Province where a person was born.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityOfBirth" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CityOfBirth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">City where a person was born.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtryOfBirth" type="CountryCode">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CountryOfBirth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Country where a person was born.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CcyCtrlReqOrLttr" type="CurrencyControlRequestOrLetterV01"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentGeneralInformation3">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">DocumentGeneralInformation3</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">General information that unambiguously identifies a document, such as identification number and issue date time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocTp" type="ExternalDocumentType1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DocumentType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the type of the document, for example commercial invoice.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNb" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DocumentNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SndrRcvrSeqId" type="Max140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SenderReceiverSequenceIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the identification sequence number for a specific couple sender/receiver.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsseDt" type="ISODate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">IssueDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Issue date of the document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="Max256Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">URL</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">URL (Uniform Resource Locator) where the document can be found</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LkFileHash" type="SignatureEnvelopeReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LinkFileHash</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Full Signature Structure without Signature itself:&#13;
Hash  + Certificate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttchdBinryFile" type="BinaryFile1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AttachedBinaryFile</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Attached binary file for this document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNm" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalDocumentType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalDocumentType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the document type as published in an external document type code list.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstitutionIdentification1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the external financial institution identification scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalOrganisationIdentification1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the external organisation identification scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalPersonIdentification1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the external person identification scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialIdentificationSchemeName1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prtry" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericOrganisationIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification of an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericPersonIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification of a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max100KBinary">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max100KBinary</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Binary data of 100K maximum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1"/>
			<xs:maxLength value="102400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1025Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max1025Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1025 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max2048Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 2048 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">NamePrefix1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the terms used to formally address a person.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Doctor</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Title of the person is Doctor or Dr.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MIST">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Mister</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Title of the person is Mister or Mr.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MISS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Miss</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Title of the person is Miss.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MADM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Madam</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Title of the person is Madam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an organisation, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentificationSchemeName1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prtry" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OriginalMessage2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OriginalMessage2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the original message references.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgnlSndr" type="Party28Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalSender</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Original message sender used to identify the message. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlMsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalMessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference assigned by the original instructing party to unambiguously identify the original group of individual transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlMsgNmId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalMessageNameIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the original message name identifier to which the message refers, such as pacs.003.001.01 or MT103.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalCreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Original date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlPackgId" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalPackageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the identification of original package of instructions, entries or records.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlRcrdId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalRecordIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the identification of original entry, instruction or record within the package. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party11Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrvtId" type="PersonIdentification5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PrivateIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person, eg, passport.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party28Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party28Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Pty" type="PartyIdentification77">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a person or an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Agent</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification77">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PartyIdentification77</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Identification of a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstlAdr" type="PostalAddress19" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="Party11Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CountryOfResidence</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Country in which a person resides (the place of a person's home). In the case of a company, it is the country from which the affairs of that company are directed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ContactDetails</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Set of elements used to indicate how to contact the party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PersonIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DateAndPlaceOfBirth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and place of birth of a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of a person, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PersonIdentificationSchemeName1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the identification scheme.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prtry" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress19">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PostalAddress19</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Department</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a division of a large organisation or building.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SubDepartment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a sub-division of a large organisation or building.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TownLocationName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specific location name within the town.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision within a country sub-division.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as state, region, county.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PostalAddress6</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Department</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a division of a large organisation or building.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SubDepartment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a sub-division of a large organisation or building.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as state, region, county.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureEnvelopeReference">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SignatureEnvelopeReference</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">The W3C XML Schema that specifies following standard signature:&#13;
 XML Signature Syntax and Processing (Second Edition) W3C Recommendation 10 June 2008&#13;
http://www.w3.org/TR/2008/REC-xmldsig-core-20080610/</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryData1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlcAndNm" type="Max350Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Envlp" type="SupplementaryDataEnvelope1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataEnvelope1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalLetterType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalLetterType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the letter type as published in an external document type code list.&#13;
External code sets can be downloaded from rosswift.ru.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupportDocumentType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SupportDocumentType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a type of supporting document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LFBK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LetterFromBank</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Document is a letter from the bank.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LTBK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LetterToBank</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Document is a letter to the bank.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUPP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SupportingDocument</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Document is a supporting document.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SupportingDocumentRequestOrLetter1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SupportingDocumentRequestOrLetter1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Currency control related document or letter supporting the contract registration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReqOrLttrId" type="Max35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestOrLetterIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the supporting document request or the letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date of the supporting document request or the letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sndr" type="Party28Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Sender</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Sender of the request or letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rcvr" type="Party28Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Receiver</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Receiver of the request or letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlRefs" type="OriginalMessage2" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalReferences</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Provides the references of the original underlying message(s) for which supporting documents are requested or for which the letter is sent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sbjt" type="Max140Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Subject</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Subject of the letter or supporting document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="ExternalLetterType1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Provides the type of supporting document requested.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max1025Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Further free format description of the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RspnReqrd" type="TrueFalseIndicator">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ResponseRequired</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Flag to indicate whether a response is required or not.&#13;
&#13;
Usage: when the request is used to send a letter, there is no response required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="ISODate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DueDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date by which the response to the request is expected.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attchmnt" type="DocumentGeneralInformation3" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Attachment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Documents provided as attachments to the supporting document request or letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
