app/src/addons/SBBOL/resources/schema/request/update-list-of-employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://bssys.com/upg/request"
           targetNamespace="http://bssys.com/upg/request" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">

    <xs:include schemaLocation="common-types.xsd"/>

    <xs:complexType name="UpdateListOfEmployees">
        <xs:sequence>
            <xs:element name="ClientState" type="ClientState" minOccurs="0"/>
            <xs:element name="LastUpdate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>